---
import '../styles/global.css';
import BackgroundCanvas from '../components/background/BackgroundCanvas.jsx';
import SideNavbar from '../components/nav/SideNavbar.jsx';
import Home from '../components/home/Home.jsx';
import Projects from '../components/projects/Projects.jsx';
import About from '../components/about/About.jsx';
import Experience from '../components/experience/Experience.jsx';
import Education from '../components/education/Education.jsx';
import Certifications from '../components/certifications/Certifications.jsx';
import Contact from '../components/contact/Contact.jsx';
import Skills from '../components/skills/Skills.jsx';

// Image preprocessing for astro 
import { getImage } from 'astro:assets';
import inteleradLogo from '../assets/experienceLogos/intelerad-logo.jpeg';
import bdsrLogo from '../assets/experienceLogos/bdsr-logo-final.png';
import telusLogo from '../assets/experienceLogos/Telus-Logo.png';

// Navbar - My Logo 
import logoSvg from '../assets/myLogo/Logo6.png';

// Skills Logos
import pythonLogo from '../assets/skills/python-logo-1-300x300.jpg';
import javaLogo from '../assets/skills/java.png';
import htmlCssJsLogo from '../assets/skills/html-css-js.png';
import mysqlLogo from '../assets/skills/mysql-logo-1-300x300.jpg';
import postgresLogo from '../assets/skills/postgresql-logo.png';
import shellLogo from '../assets/skills/shell-logo-1-300x300.jpg';

import numpyLogo from '../assets/skills/numpy-logo-1-500x500.jpg';
import pandasLogo from '../assets/skills/pandas-logo-2-500x500.jpg';
import opencvLogo from '../assets/skills/opencv-logo-1-500x500.jpg';
import sklearnLogo from '../assets/skills/sk-learn-logo-1-500x500.jpg';
import matplotlibLogo from '../assets/skills/matplotlib-logo-1-500x500.jpg';
import springLogo from '../assets/skills/spring.png';

import djangoLogo from '../assets/skills/django-logo.webp';
import flaskLogo from '../assets/skills/flask-logo.png';
import bootstrapLogo from '../assets/skills/bootstrap.png';
import kerasLogo from '../assets/skills/keras-logo.png';
import tensorflowLogo from '../assets/skills/tensorflow-logo-1.png';
import pytorchLogo from '../assets/skills/pytorch-logo.png';

import gitLogo from '../assets/skills/git.png';
import awsLogo from '../assets/skills/aws.png';
import gcpLogo from '../assets/skills/google-cloud.png';
import dockerLogo from '../assets/skills/docker-logo.webp';
import kubernetesLogo from '../assets/skills/kubernetes.png';
import terraformLogo from '../assets/skills/terraform.png';


const experienceImages = {
  intelerad: (await getImage({ src: inteleradLogo, width: 64 })).src,
  bdsr: (await getImage({ src: bdsrLogo, width: 64 })).src,
  telus: (await getImage({ src: telusLogo, width: 64 })).src
};


const experiences = [
  {
    company: "Bohrium Data & Security Research",
    role: "Assistant Developer",
    date: "Sept 2024 – Present | Toronto, ON",
    logo: experienceImages.bdsr,
    link: "#",
    points: [
      "Led PostgreSQL upgrades to 13+ ensuring stable migrations.",
      "Containerized CMS websites with automated CI/CD.",
      "Built disaster recovery and backup strategies.",
      "Weekly client meetings to align project goals.",
      "Tools: PostgreSQL, Sqitch, Docker, GCP, Git, Java, Bash"
    ]
  },
  {
    company: "Intelerad",
    role: "System Technology Specialist",
    date: "Jan 2024 – Sept 2024 | Toronto, ON",
    logo: experienceImages.intelerad,
    link: "https://www.intelerad.com/en/",
    points: [
      "Managed RHEL servers for critical PACS Radiology Systems.",
      "Maintained HL7/DICOM services and security policies.",
      "Administered Sybase and PostgreSQL healthcare databases.",
      "Resolved SLA-priority production issues swiftly.",
      "Tools: RHEL, PostgreSQL, Sybase, HL7, Bash, IPTables, DICOM"
    ]
  },
  {
    company: "Telus",
    role: "Developer Analyst",
    date: "May 2022 – Aug 2023 | Montreal, QC",
    logo: experienceImages.telus,
    link: "https://www.telus.com",
    points: [
      "Supported GCP Cloud Storage and Database services.",
      "Authored documentation reducing incident escalations.",
      "Troubleshot networking, storage, and devops issues.",
      "Collaborated cross-team for customer-impact fixes.",
      "Tools: GCP, Bash, Networking, Jira, Git"
    ]
  },
];

// logo image preprocessing
const logo = (await getImage({ src: logoSvg, width: 64 })).src; // or 48/32 if needed

// Skills image preprocessing
const skillsImages = {
  python: (await getImage({ src: pythonLogo, width: 64 })).src,
  java: (await getImage({ src: javaLogo, width: 64 })).src,
  htmlcssjs: (await getImage({ src: htmlCssJsLogo, width: 64 })).src,
  mysql: (await getImage({ src: mysqlLogo, width: 64 })).src,
  postgres: (await getImage({ src: postgresLogo, width: 64 })).src,
  shell: (await getImage({ src: shellLogo, width: 64 })).src,

  numpy: (await getImage({ src: numpyLogo, width: 64 })).src,
  pandas: (await getImage({ src: pandasLogo, width: 64 })).src,
  opencv: (await getImage({ src: opencvLogo, width: 64 })).src,
  sklearn: (await getImage({ src: sklearnLogo, width: 64 })).src,
  matplotlib: (await getImage({ src: matplotlibLogo, width: 64 })).src,
  spring: (await getImage({ src: springLogo, width: 64 })).src,

  django: (await getImage({ src: djangoLogo, width: 64 })).src,
  flask: (await getImage({ src: flaskLogo, width: 64 })).src,
  bootstrap: (await getImage({ src: bootstrapLogo, width: 64 })).src,
  keras: (await getImage({ src: kerasLogo, width: 64 })).src,
  tensorflow: (await getImage({ src: tensorflowLogo, width: 64 })).src,
  pytorch: (await getImage({ src: pytorchLogo, width: 64 })).src,

  git: (await getImage({ src: gitLogo, width: 64 })).src,
  aws: (await getImage({ src: awsLogo, width: 64 })).src,
  gcp: (await getImage({ src: gcpLogo, width: 64 })).src,
  docker: (await getImage({ src: dockerLogo, width: 64 })).src,
  kubernetes: (await getImage({ src: kubernetesLogo, width: 64 })).src,
  terraform: (await getImage({ src: terraformLogo, width: 64 })).src,
};


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
	</head>
	<body>

		<BackgroundCanvas client:only="react" />

		<SideNavbar logo={logo} client:load /> 
		<Home client:load />
		<Projects client:idle />
		<About client:visible />
		<Experience experiences={experiences} client:visible />
		<Education client:visible />
		<Skills skillImages={skillsImages} client:visible />
		<Certifications client:visible />
		<Contact client:visible />

	</body>
</html>
