---
import '../styles/global.css';

import BackgroundCanvas from '../components/background/BackgroundCanvas.jsx';
import SideNavbar from '../components/nav/SideNavbar.jsx';
import Home from '../components/home/Home.jsx';
import Projects from '../components/projects/Projects.jsx';
import About from '../components/about/About.jsx';
import Experience from '../components/experience/Experience.jsx';
import Education from '../components/education/Education.jsx';
import Certifications from '../components/certifications/Certifications.jsx';
import Contact from '../components/contact/Contact.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<BackgroundCanvas client:only="react" />

		<SideNavbar client:load /> 
		<Home client:load />
		<Projects client:load />
		<About client:load />
		<Experience client:load />
		<Education client:load />
		<Certifications client:load />
		<Contact client:load />

	</body>
</html>
